/* Thinking of writing it all in light mode cause I'm not a crazy person */

* {
	margin: 0;
	padding: 0;

	--text: normal 16px Arial;
	--title-text: normal 60px Arial;
	--section-text: normal 32px Arial;

	--splash: bold 72px Arial;
	--splash-text: bold 32px Arial;

	-webkit-user-select: none;		/* I know its deprecated but I only want some pieces of text to be selectable. It may change later! */
	cursor: default;
}


.button {
	padding: 8px 12px;
	font: var(--text);
	border: 2px solid darkgray;
	border-radius: 12px;
	background-color: transparent;
}

.button:hover {
	background-color: lightgray;
}

.title {
	font: var(--title-text);
	text-align: center;
	margin-bottom: 12px;
}

.divider {
	border-top: 2px solid black;
	margin-bottom: 40px;
}

/* This took me an hour to conver table to flexbox and make everything work! */
.menu {
	border-bottom: 2px solid darkgrey;


}

.menu ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

.menu li {
	position: relative;
	padding: 10px 20px;
	align-content: center;
}

.menu .link {
	text-decoration: none;
	display: grid;
	position: relative;
	align-items: center;
	justify-content: center;
	font: var(--text);
	color: black;
}


.menu button {
	display: grid;
	background: transparent;
	width: fit-content;
	border: solid 2px darkgrey;
	border-radius: 12px;
	align-items: center;
	justify-content: center;
	padding: 4px;
}

.menu button:hover {
	background-color: lightgrey;
}

.menu button svg {
	fill: black;
}




.menu .link:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: black;
	transition: width 0.3s ease, left 0.3s ease;
	width: 0;
}

.menu .link:hover:after{
	width: 100%;
	left: 0;
}

.menu .active:hover:after {
	width: 100%;
	left: 0;
}

.menu .active .link {
	color: darkgrey;
}

.menu .active .link:after {
	background: darkgrey;
}