* {
	margin: 0;
	padding: 0;

	--text: normal 18px Arial;
	--boldText: bold 18px Arial;
	--chapters-text: normal 24px Arial;
	--title-text: normal 60px Arial;
	--section-text: normal 32px Arial;

	--splash: bold 72px Arial;
	--splash-text: bold 32px Arial;

	user-select: none;
	-webkit-user-select: none;		

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-user-drag: none;
	text-rendering: optimizeLegibility;

	color: var(--normalText);

}

body {
	--backgroundColor: hsl(240, 30%, 100%);
	--foregroundColor: hsl(240, 30%, 95%);
	--outlineColor: hsl(240, 30%, 90%);

	--brandBackground: hsl(260, 50%, 60%);
	--brandOutline: hsl(260, 50%, 45%);
	--brandText: hsl(260, 70%, 30%);

	--successBackground: hsl(140, 50%, 60%);
	--successOutline: hsl(140, 50%, 45%);
	--successText: hsl(140, 70%, 30%);

	--warningBackground: ;
	--warningOutline: ;
	--warningText: ;
	
	--errorBackground: hsl(0, 50%, 60%);
	--errorOutline: hsl(0, 50%, 45%);
	--errorText: hsl(0, 70%, 30%);

	--infoBackground: hsl(220, 50%, 60%);
	--infoOutline: hsl(220, 50%, 45%);
	--infoText: hsl(220, 70%, 30%);


	--lightText: hsl(0, 0%, 30%);
	--normalText: hsl(0, 0%, 0%);
	
	background-color: var(--backgroundColor);
}

.darkmode {
	--backgroundColor: hsl(240, 30%, 0%);
	--foregroundColor: hsl(240, 30%, 5%);
	--outlineColor: hsl(240, 30%, 10%);

	--successText: hsl(140, 50%, 60%);
	--successOutline: hsl(140, 50%, 45%);
	--successBackground: hsl(140, 50%, 25%);

	--brandText: hsl(260, 50%, 60%);
	--brandOutline: hsl(260, 50%, 45%);
	--brandBackground: hsl(260, 50%, 25%);

	--warningBackground: ;
	--warningOutline: ;
	--warningText: ;

	--errorText: hsl(0, 50%, 60%);
	--errorOutline: hsl(0, 50%, 45%);
	--errorBackground: hsl(0, 50%, 25%);

	--infoText: hsl(220, 50%, 60%);
	--infoOutline: hsl(220, 50%, 45%);
	--infoBackground: hsl(220, 50%, 25%);

	--lightText: hsl(0, 0%, 80%);
	--normalText: hsl(0, 0%, 100%);
}

/* The font for the program blocks and text */
@font-face {
	font-family: JetBrains;
	src: url(@assets/Fonts/JetBrainsMonoNerdFontMono-Regular.ttf);
}

/* How we made the scrollbar fancy */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--outlineColor); }

.whiten {
	color: white;
}

/* Its for the top text of the chapter thats centered */
.title {
	font: var(--title-text);
	text-align: center;
	margin-bottom: 12px;
}

/* It comes after the divider of the last section to mark the new section */
.section {
	font: var(--section-text);
	margin-bottom: 12px;
}

/* The text that describes how to program, duh */
.text {
	font: var(--text);
	margin-bottom: 12px;
	line-height: 1.5;
}

.image {
	border-radius: 12px;
	border: 2px solid var(--outlineColor);
	width: 40%;
	margin-bottom: 12px;
}

/* When we want to show code outside a code block to help describe it */
.code {
	font: normal 18px JetBrains;
}

/* The line that separates sections */
.divider {
	border-top: 2px solid var(--outlineColor);
	margin-bottom: 28px;
}

/* A thing you click on, can literally be used anywhere */
.button {
	padding: 8px 16px;
	font: var(--boldText);
	border: 2px solid var(--outlineColor);
	color: var(--normalText);
	border-radius: 12px;
	background-color: var(--backgroundColor);
}

.button:hover { background-color: var(--foregroundColor); }

/* How we stylize lists when we want to bullet-point facts */
.list {
	margin-bottom: 4px;
	margin-left: 50px;
}

.list li {
	font: var(--text);
	padding-bottom: px;
}

/* How the Terminal is styled for the software */
.terminal {
	font: normal 16px JetBrains;
	border: 2px solid var(--outlineColor);
	border-radius: 12px;
	background-color: var(--foregroundColor);
	padding: 20px;
	margin-bottom: 12px;
}

.table {
	border-spacing: 0;
	text-align: left;
	width: 100%;
	border: 2px solid var(--outlineColor);
	padding: 20px;
	border-radius: 12px;
	background-color: var(--foregroundColor);
} 

.table th {
	padding: 4px;
	background-color: var(--foregroundColor);
	border-bottom: 2px solid var(--outlineColor);
}

.table td {
	padding: 4px;
	background-color: var(--backgroundColor);
	border-bottom: 2px solid var(--outlineColor);
}

.table td:last-child {
	border-right: 2px solid var(--outlineColor);
}

.table td:first-child {
	border-left: 2px solid var(--outlineColor);
}


/* The page that the text is displayed on as well as the sidebar */
.page {
	display: flex;
	height: calc(100vh - 62px);
}

.content {
	flex: 1;
	padding: 0 2%;
	overflow-y: auto;
}


/* This should always be at the bottom of the page */
/* This is only for the sidebar and menu links currently */
.menu .link::after,
.chapters .link::after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: var(--normalText);
	transition: width 0.3s ease, left 0.3s ease;
	width: 0;
}

.menu .link:hover::after,
.chapters .link:hover::after {
	width: 100%;
	left: 0;
}

.active:hover::after {
	width: 100%;
	left: 0;
}

.active .link { color: var(--lightText); }
.active .link::after { background: var(--lightText); }