* {
	--programLanguage: bold 18px Arial;
	--programName: italic 18px Arial;
	--programButton: bold 18px Arial;
}

.programBlock {
	background-color: var(--foregroundColor);
	padding: 20px;
	border-radius: 12px;
	border: 2px solid var(--outlineColor);
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
}

.programHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.programInfo {
	display: flex;
	gap: 20px;
	align-items: center;
}

.programLanguage {
	font: var(--programLanguage);
	color: var(--normalText);
}

.programName {
	font: var(--programName);
	color: var(--lightText);
}

.buttonGroup {
	display: flex;
	gap: 10px;
}

.buttonGroup .running, .buttonGroup .stopping, .buttonGroup .copying {
	padding: 8px 16px;
	background-color: var(--backgroundColor);
	border-radius: 10px;
}

.buttonGroup .copying {
	border: 2px solid var(--outlineColor);
	color: var(--text);
	font: var(--programButton);
}
.buttonGroup .copying:hover { background-color: var(--foregroundColor); }

.buttonGroup .running { 
	border: 2px solid var(--successOutline); 
	color: var(--successText);
	font: var(--programButton);
}
.buttonGroup .running:hover { background-color: var(--successBackground); }

.buttonGroup .stopping { 
	border: 2px solid var(--errorOutline); 
	color: var(--errorText);
	font: var(--programButton);
}
.buttonGroup .stopping:hover { background-color: var(--errorBackground); }

.program {
	border: 2px solid var(--outlineColor);
	padding: 12px 24px;
	border-radius: 12px;
	background-color: var(--backgroundColor);
	color: var(--normalText);
	tab-size: 4;
}

.program code { 
	line-height: 1.5;
	font: normal 18px JetBrains;
	vertical-align: middle;
	text-wrap-style: auto;
}

.program pre {
	white-space: pre-wrap;
	word-break: break-word;
}


.programOutput {
	border: 2px solid var(--outlineColor);
	padding: 12px;
	border-radius: 12px;
	background-color: var(--backgroundColor);
	color: var(--normalText);
	margin-top: 20px;
	white-space: pre-wrap;
	font: normal 16px JetBrains;
} 

.varibles { color:  #e06c75; }
.keywords { color: #c678dd; }
.numbers { color: #d19a66; }
.classes { color: #e5c07b; }
.methods { color: #61afef; }
.strings { color: #98c379; }
.operators { color: #56b6c2; }
.comments { color: #7f848e; }